/* CSS Document */
body {
	font-family: "museo-slab";
	font-size:14px;
	font-weight:100;
	line-height:1xem;
	color:#333333;
}
a,a:link {
	text-decoration:none;
	color:#744423;
	border-bottom:1px solid transparent; 


}
a:visited {
	text-decoration:none;
	color:#744423;
}
a:hover {
	/*text-decoration:underline;*/
	border-bottom: 1px solid #744423;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;	
}
a:active {
		border-bottom: 1px solid #744423;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;	
}
a:focus {
	border:none;
}
.logo-container a:hover{
	border:none;
}
.clear {
	clear:both;
}
.wrapper {
	width:960px;
	margin:0 auto;
	position:relative;
}
.main-wrapper{
	clear:both;
	padding-top:108px;
	position:relative;
	z-index:1;
	/*background-image:url(/_img/header-placeholder.jpg);*/
	background-repeat:no-repeat;
	background-position:center 108px;
	background-color:#FFF;
}
.content-wrapper{
	padding-top:20px;
	margin-bottom: 3em;
}
/* Breadcrumb */
.breadcrumb {
	height:25px;
	border-bottom:1px dotted #311604;
}
.breadcrumb a {
	font-weight:700;
}

/* Layout */
.sidecolumn {
	/*width:300px;
	width:31.25%;
	float:left;*/
}
.maincolumn {
	/*width:660px;*/
	width:68.75%;
	float:left;
}
.maincolumn_wide {
	/*width:660px;*/
	width:99%;
	margin: 0 5px;
}

.header-container {
	background-color:#eae3de;
	height:108px;
	width:100%;
	position:absolute;
	z-index:10;
	box-shadow:0px 2px 12px #333;
}
.logo-container {
	width:300px;
	float:left;
}
.title-container {
	height:168px;
	color:#FFF;
	position:relative;
}
.title-container h1{
	font-weight:700;
	font-size:36px;
	position:absolute;
	left:31.25%;
	top:66px;
	bottom: 74px;
	text-shadow:2px 2px 6px #000;
}
.content-container {
	line-height: 1.8em;
	padding-top: 14px;
}
.content-container p {
	margin-bottom:2em;
}
/* Content */
.content-container ul, 
.content-container ol {
	list-style:outside;
	margin:10px 0px;
}
.content-container ol {
	list-style:decimal;
}
.content-container img {
	border:4px solid #744423;
	box-shadow:0px 0px 4px #333;
}
.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container h6{
	font-weight:700;
	padding-bottom:1em;
}
.content-container h1 {
	font-size:2.4em;
}
.content-container h2 {
	font-size:2.2em;
}
.content-container h3 {
	font-size:2.0em;
}
.content-container h4 {
	font-size:1.8em;
}
.content-container h5 {
	font-size:1.6em;
}
.content-container h6 {
	font-size:1.4em;
}
.page-container  {
  background-repeat: no-repeat;
  background-position: center 0px;
  clear: both;
  padding-top: 0;
}

/* Main Nav */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color:#311604;
	background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
	color:#311604;
}
.topmenu-container {
	width:600px;
	float:left;
}
ul.main-menu {
	margin:0;
	padding:0;
	list-style:none;
	position: absolute;
	right: 0px;
	top: 36px;
}
ul.main-menu li {
	background-repeat:no-repeat;
	background-position:center top;
	display:inline-block;
/*	float:left;
	padding:0 10px;
*/	text-align:center;
	height:32px;
}
ul.main-menu li:hover{
	background-image:url(/_img/logo-over.png);
	transition: background .6s ease-in-out;
	-moz-transition: background .6s ease-in-out;
	-webkit-transition: background .6s ease-in-out;
}
ul.main-menu li a{
	color:#311604;
	font-weight:700;
	font-size:14px;
	text-transform:uppercase;
	padding-top: 20px;
	display: block;
}
ul.main-menu li.active{
	background-image:url(/_img/logo-over.png);
}

/* Side Menu */
ul.side-menu {
	margin:0 ;
	padding:0px 0px;
	/*width:82%;*/
}
ul.side-menu li.first-item {
	border-top:1px solid #744423;
}
ul.side-menu li {
	border-bottom:1px dotted #744423;
	display:block;
}
ul.side-menu li:hover, 
ul.side-menu li.active  {
	background-color:#f1ece9;
	transition: background .25s ease-in-out;
	-moz-transition: background .25s ease-in-out;
	-webkit-transition: background .25s ease-in-out;
}
ul.side-menu li.last-item {
	border-bottom: 1px solid #744423;
}
ul.side-menu a {
	display: block;
	padding: 10px;
	font-size: 14px;
	font-weight: 700;
	color: #333;
	border:none;
}
ul.side-menu a:hover {
	border:none;
}
/* Footer */
.footer-container {
	min-height:140px;
	background-color:#311604;
	border-bottom:18px solid #744423;
	color:#FFF;
}
.hp-footer-container {
	height:130px;

}
.footer-container a {
	color:#FFF;
}
.footer-address {
/*	border-top: 2px solid #FFF;
	position: absolute;
	top: 16px;
	width: 84%;
	text-align: right;
	right: 0px;
	line-height: 1.4em;*/
	position: relative;
	width: 84%;
	text-align: right;
	line-height: 1.4em;
	padding:18px 0px;
	float:right;
}
.footer-address .info {
	/*margin-top:20px;*/
	font-size: 14px;
	line-height: 1.3em;
	
	border-top: 2px solid #FFF;
	padding-top: 20px;
}

/* HP Footer */
.hp-footer-container {
	position:fixed;
	bottom:0px;
	height:auto;
	min-height:148px;
	color:#FFF;
	background-image:url(/_img/layout/bg-fade.png);
	width:100%;
}
.hp-footer-container .footer-address {
	line-height:1.6em;
	/*top:28px;*/
	top:0px;
}
.hp-footer-container .footer-address .info {
	margin-top:14px;
}
.hp-footer-container a {
	color:#FFF;
}
.hp-footer-container a:hover {
	border-bottom: 1px solid #FFF;
}

/* HP Header */
.hp-header {
	position:absolute;
	top:0px;
	width:100%;
	z-index:20;
}
.hp-header ul.main-menu li a {
	color:#FFF;
}
.hp-header ul.main-menu li a:hover {
	border-bottom:1px solid #FFF;
}
.hp-header ul.main-menu li:hover{
		background-image:url(/_img/spurwing-over-white.png);
		transition: background .6s ease-in-out;
		-moz-transition: background .6s ease-in-out;
		-webkit-transition: background .6s ease-in-out;
}
/* Sliders */
.slider,
.slider div.slide {
	width:100%;
	height:100%;
	height: 100vh;
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}
.slider .slide1 {
	/*background-image:url(/_img/sliders/slide1_photo.jpg);*/
}
.slider .slide2 {
	/*background-image:url(/_img/sliders/slide2_photo.jpg);*/
}
.slider .slide3 {
	/*background-image:url(/_img/sliders/slide3_photo.jpg);*/
}
.slider .slide .slideContent {
	position:absolute;
}
.slider .slide .slideContentRight{
	top:190px;
	right:6%;
}
.slider .slide .slideContentLeft{
	top:190px;
	left:12%;
}
.slider .slide .slideContentCenter{
	top:190px;
	left:35%;
}
.slider .slide .slideContent .slideText {
	width:330px;
}
.slick-slider {
	margin-bottom:0px;
}
.slide .slideContent {
	color:#FFF;
	text-shadow:2px 2px 6px #333;
}
.slide .slideTitle {
	font-size:42px;
	font-weight:700;
}
.slide .slideText {
	margin-top:20px;
	font-size:14px;
	font-weight:700;
	line-height: 1.4em;
	padding-left: 70px;
}
.slide .slideTitle span{
	width:35px;
	height:124px;
	background-repeat:no-repeat;
	vertical-align: middle;
	display:inline-block;
}
span.leftGraphic {
	background-image:url(_img/layout/taglinedec-left.png);
	margin-right:32px;
}
span.rightGraphic {
	background-image:url(_img/layout/taglinedec-right.png);
	margin-left:32px;
}


@media (max-width: 960px) {
  .wrapper {
    width:700px;
  }
  .main-wrapper{
	  background-position:left 108px;
  }
}

.sidecolumn {
  padding-top: 70px;
}
.pagecontent {
	padding-top:20px;
	margin-bottom: 50px;
}

.breadcrumb {
  height: 30px;
  border-bottom: 1px dotted #311604;
  background-color: transparent;
  padding: 0;
  margin: 0 0 15px 0;
}

.navbar-default {
 background-color: transparent;
  border: 0;
}
.header-container {
  background-color: #eae3de;
  min-height: 108px;
  width: 100%;
   position: relative; 
  /* z-index: 10; */
  box-shadow: 0px 2px 12px #333;
}
.mainmenu-container {
	position:relative;
}
	.documentsContainer {
		
	}
	.documents-item {
		width:200px;
		height:300px;
		float:left;
		position:relative;
	}
	.document-link {
		opacity:0;
	}
	.outter-box {
		background-color:#eae3de;
		width:100%;
		height:100%;
		position:absolute;
		z-index:0;
		opacity:0;
	}
	.document-thumbnail {
		/*
		height:50%;
		width:50%;
		*/
		height:150px;
		width:100px;
		position:absolute;
		/*background-color:#3D1B1B;*/
		margin:auto;
		z-index:12;
		top:40px;
		left:50px;
	}
	.document-thumbnail img {
		/*max-width:100px;
		max-height:150px;*/
		border:2px solid brown;
	}
	.document-thumbnail a{
		text-decoration:none;
		border: none;
	}
	.document-title {
		padding:0px 10px;
		position:absolute;
		z-index:12;
		bottom:12px;
		height:42px;
		line-height:1.2em;
	}